/** Document Styling **/
* {
	font-family: "Oxygen", "sans-serif";
}

html, body {
    margin: 0;
    overflow: hidden;
    height: 100%;
		font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

a, p {
	font-weight: 300;
	font-size: 1.1em;
}

p.important {
	font-size: 1.35em;
	color: #eeeeee;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

.container-fluid {
	height: 100%;
}

.container-fluid > .row {
	height: 100%;
}

.container-fluid > .row > .col-md-2 {
	height: 100%;
}

.container-fluid > .row > .col-md-10 {
	height: 100%;
}

.menu-bar {
	background-color: #222831;
	height: 100%;
}

canvas {
	height: 100%;
}

.header {
	background-color: #222831;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}

.logo {
	position: relative;
	max-width: 90%;
	height: auto;
}

.menu-controls {
	background-color: #222831;
	padding-top: 10px;
	padding-bottom: 10px;
}

.rectangle {
	position: relative;
	width: 100%;
}

.rectangle:after {
	content: "";
	display: block;
	padding-bottom: 30%;
}

.centered {
	text-align: center;
}

.single-button {
	position: relative;
	width: 40%;
	display: inline-block;
	border: 5px solid #393e46;
	margin: 5px;
	-webkit-transition: border-color 0.35s;
	transition: border-color 0.35s;
}

.single-button:hover {
	border-color: #fd7014;
}

.single-button:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.double-button {
	position: relative;
	width: -moz-calc(80% + 10px);
	width: -webkit-calc(80% + 10px);
	width: -o-calc(80% + 10px);
	width: calc(80% + 10px);
	display: inline-block;
	border: 5px solid #393e46;
	margin: 5px;
	-webkit-transition: border-color 0.35s;
	transition: border-color 0.35s;
}

.double-button:hover {
	border-color: #fd7014;
}

.double-button:after {
	content: "";
	display: block;
	padding-bottom: 20%;
}

.single-button > a,
.double-button > a {
	text-decoration: none;
	color: #222831;
}

.button-container {
	display: flex;
	justify-content: center;
}

.button-content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	background-color: #eeeeee;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
	padding-top: 15px;
}

.button-content img {
	width: 50%;
	height: auto;
}

.active {
	background-color: #fd7014;
}

.hotkey {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 0.8em;
}

.info {
	padding-top: 10px;
	padding-bottom: 10px;
}

.info p {
	margin-bottom: 0px;
}

.desc {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#desc-header, #desc-content {
	color: #eeeeee;
}

.separator {
	content: "&nbsp;";
	border-bottom: 2px solid #393e46;
	margin-left: 5%;
	margin-right: 5%;
}

.footer {
	background-color: #393e46;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	color: #eeeeee;
	font-size: 0.9em;
	padding-top: 4px;
	padding-bottom: 4px;
}

.emph {
	text-decoration: underline;
}

.nosidepadding {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
